.types-list {
  display: flex;
}
.type {
  margin: 0 10px 0 10px;
  padding: 5px;
  border: 1px solid black;
}

.flying {
  background-color: rgb(130, 187, 240);
}
.fire {
  background-color: rgb(230, 34, 36);
}
.grass {
  background-color: rgb(61, 162, 37);
}
.poison {
  background-color: rgb(147, 63, 205);
}
.water {
  background-color: rgb(35, 129, 240);
}
.bug {
  background-color: rgb(147, 163, 18);
}
.normal {
  background-color: rgb(160, 162, 160);
}
.electric {
  background-color: rgb(251, 195, 0);
}
.ground {
  background-color: rgb(146, 81, 29);
}
.fairy {
  background-color: rgb(241, 112, 239);
}
.fighting {
  background-color: rgb(255, 129, 0);
}
.psychic {
  background-color: rgb(241, 62, 122);
}
.rock {
  background-color: rgb(176, 171, 129);
}
.ice {
  background-color: rgb(61, 216, 254);
}
.dragon {
  background-color: rgb(79, 96, 226);
}
.steel {
  background-color: rgb(94, 162, 186);
}
.ghost {
  background-color: rgb(113, 62, 112);
}
